<div class="attributes-body" style="overflow-y: scroll;">
    <div class="flexrow">
        <h2 class="block-header" style="flex: 1">{{localize "PF1AS.AbilityScores"}}</h2>
    </div>
    {{!-- Ability Scores --}}
    <ul class="ability-scores flexrow">
        {{#each data.abilities as |ability id|}}
        <li class="ability" data-ability="{{id}}">
            <h4 class="ability-name box-title">{{ability.label}}</h4>
            <span class="ability-score tooltip">
                {{#ifEquals id "str"}}
                {{numberFormat ability.totalLabel decimals=0 sign=true}}
                {{/ifEquals}}
                {{#ifEquals id "dex"}}
                {{ability.totalLabel}}
                {{/ifEquals}}
                {{#ifEquals id "con"}}
                {{numberFormat ability.totalLabel decimals=0 sign=true}}
                {{/ifEquals}}
                {{#ifEquals id "int"}}
                {{ability.totalLabel}}
                {{/ifEquals}}
                {{#ifEquals id "wis"}}
                {{numberFormat ability.totalLabel decimals=0 sign=true}}
                {{/ifEquals}}
                {{#ifEquals id "cha"}}
                {{numberFormat ability.totalLabel decimals=0 sign=true}}
                {{/ifEquals}}
                <span class="tooltipcontent">
                    @abilities.{{id}}.total : {{ability.total}}<br />
                    @abilities.{{id}}.value : {{ability.value}}<br />

                    {{#if ability.sourceDetails.length}}
                    <br /><br />{{localize "PF1.FromSources"}}:<br />
                    {{#each ability.sourceDetails as |src|}}{{src.name}}: {{src.value}}<br />{{/each}}
                    {{/if}}
                </span>
            </span>
            <div class="ability-modifiers flexrow">
                <div class="ability-center"></div>
                <span class="text-box direct ability-base" name="data.abilities.{{id}}.value" data-dtype="String">{{ability.value}}</span>
            </div>
        </li>
        {{/each}}
    </ul>
    <h2 class="block-header">Other Stats</h2>
    <ul class="attributes misc-base flexrow">
        <li class="attribute speed flexrow">
            <div class="attribute-speed tooltip">
                <h4 class="attribute-name box-title">Tier</h4>
                <div class="attribute-value">
                    <div class="attribute">
                        {{#if data.attributes.speed.land.base}}
                        {{data.attributes.speed.land.base}}
                        {{/if}}
                    </div>
                </div>
                <div class="tooltipcontent">
                    @attributes.speed.land.total : {{data.attributes.speed.land.base}}

                    {{#if sourceDetails.data.attributes.speed.land.base.length}}
                    <br /><br />{{localize "PF1.FromSources"}}:<br />
                    {{#each sourceDetails.data.attributes.speed.land.total as |src|}}{{src.name}}: {{src.value}}<br />{{/each}}
                    {{/if}}
                </div>
                <footer class="attribute-footer">
                    <input style="width: 80%;" name="data.attributes.speed.land.base" type="text" value="{{data.attributes.speed.land.base}}" data-dtype="Number" placeholder="{{localize "PF1.Base"}}" />
                </footer>
            </div>
        </li>
        <li class="attribute speed flexrow">
            <div class="attribute-speed tooltip">
                <h4 class="attribute-name box-title">Number of Attacks</h4>
                <div class="attribute-value">
                    <div class="attribute">
                        {{#if data.attributes.speed.climb.base}}
                        {{data.attributes.speed.climb.base}}
                        {{/if}}
                    </div>
                </div>
                <div class="tooltipcontent">
                    @attributes.speed.climb.total : {{data.attributes.speed.climb.base}}
                    {{#if sourceDetails.data.attributes.speed.climb.base.length}}
                    <br /><br />{{localize "PF1.FromSources"}}:<br />
                    {{#each sourceDetails.data.attributes.speed.climb.base as |src|}}{{src.name}}: {{src.value}}<br />{{/each}}
                    {{/if}}
                </div>
                <footer class="attribute-footer">
                    <input style="width: 80%;" name="data.attributes.speed.climb.base" type="text" value="{{data.attributes.speed.climb.base}}" data-dtype="Number" placeholder="{{localize "PF1.Base"}}" />
                </footer>
            </div>
        </li>
        <li class="attribute speed flexrow">
            <div class="attribute-speed tooltip">
                <h4 class="attribute-name box-title">Damage</h4>
                <div class="attribute-value">
                    <div class="attribute">
                        {{#if data.attributes.speed.swim.base}}
                        {{data.attributes.speed.swim.base}}
                        {{/if}}
                    </div>
                </div>
                <div class="tooltipcontent">
                    @attributes.speed.swim.total : {{data.attributes.speed.swim.base}}
                    {{#if sourceDetails.data.attributes.speed.swim.base.length}}
                    <br /><br />{{localize "PF1.FromSources"}}:<br />
                    {{#each sourceDetails.data.attributes.speed.swim.base as |src|}}{{src.name}}: {{src.value}}<br />{{/each}}
                    {{/if}}
                </div>
                <footer class="attribute-footer">
                    <input style="width: 80%;" name="data.attributes.speed.swim.base" type="text" value="{{data.attributes.speed.swim.base}}" data-dtype="Number" placeholder="{{localize "PF1.Base"}}" />
                </footer>
            </div>
        </li>
    </ul>
    <div class="flexrow" style="height: 10px;"></div>
</div>